.input_search {
  height: 35px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: #2f2f2f;
  width: 20%;
  color: white;
  padding: 5px 20px;
  font-size: 15px;
}

.input_search:focus {
  outline: none;
}
.input_search::placeholder {
  padding: 5px;
  font-size: 15px;
}

.table {
  padding-bottom: 30px;
}

.flex_search_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.button {
  height: 40px;
  padding: 10px;
  background-color: #2f2f2f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.flex_search_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  height: 40px;
  width: 113px;
  padding: 10px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.table_wrapper {
  position: relative;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
}

.modalInput {
  width: 100%;
  height: 30px;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #222;
  color: white;
}

.modalInput ::placeholder {
  color: #aaa;
  padding-left: 20px;
}

.modalTextArea {
  width: 100% !important;
  min-height: 200px !important;
  padding: 5px 0px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #222;
  color: white;
}
