.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.login_button {
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
}
