.container {
  max-width: 100%;
  margin: 20px auto;
  background-color: #111;
  color: white;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  gap: 40px !important;
}

.w_50 {
  width: 50% !important;
}

.input {
  width: 100%;
  padding: 0.75rem;
  background: #222;
  border: 1px solid #555;
  border-radius: 8px;
  color: white;
  resize: vertical;
  /* margin-top: 10px; */
}

.p_tag {
  margin: 16px 0px;
}

.textarea {
  width: 100%;
  padding: 0.75rem;
  background: #222;
  border: 1px solid #555;
  border-radius: 8px;
  color: white;
  resize: vertical;
  min-height: 200px;
}

.section {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.container_right {
  width: 50%;
}

.buttonGroup {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.ratingRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating_container {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 100%;
  /* background: red; */
  /* color: white; */
}

.select {
  border: 1px solid #555;
  background: #222;
  border-radius: 4px;
  width: 135px;
  margin-top: 10px;
  color: white;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

.button {
  height: 40px;
  width: 100px;
  background: linear-gradient(90deg, #ff9b44 0%, #fc6075 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
